<div class="container" style="text-align:center">
	<div class="row">
		<h1>Account needs activating!</h1>
		<h3>In order to use the service we need to activate your account, you will receive an email once this has been actioned.</h3>
	</div>
</div>